@import './mixin.scss';
@import './vars.scss';
.aside {
    position: fixed;
    background-color: $green;
    width: 25.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @include fontsPrimiry;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1000;
   
    
}

.bground {
    width: 115%;
    height: 200px;
    background-image: url('../images/green_dog_greeting.jpg');
    background-size: cover; 
    background-repeat:no-repeat ;
    opacity: 60%;
    // filter: brightness(50%);
   
 }

 .avatar{
    width: 150px;
    height: 120px;
    border-radius: 50%;
    margin-top: -50px;
    border: 2px solid black;
    z-index: 100;
  }

  .name {
   font-weight: 600;
  }

  .icons_social{
   width: 6rem;
   display: flex;
   justify-content: space-between;
   gap: 10px;
   cursor: pointer;


    img{
      width: 30px;
      height: auto;
   }
  }