// курсор



#aura{
   
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 0 40% 50% 40%;
   
   transform:  translate(-50%, -50%) ;
    
      background: linear-gradient(242deg, rgb(185, 234, 117) 0%, rgba(50, 221, 50, 0.908) 76%, rgb(18, 106, 31) 100%);
      opacity:40%;
     animation: aura 4s   infinite;

}


#aura::after {
    animation-delay: 2s;
  }

@keyframes aura {
    0% {
     height: 20px;
     width: 20px;
    opacity: 0.7;
    border-radius: 0 40% 50% 40%;
    }
    100% {
     height: 80px;
     width: 70px;
     opacity: 0.4;
     
    }
  }
