@import '../scss/vars.scss';
.stories_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 37.5rem;
    height: 12rem;
    margin:  0 auto;
    margin-top: 50px;
    gap:10px;
    
}

.stories_item{
    position: relative;
    cursor: pointer;
   
 }
 .stories_item::after {
    content: '';
    position: absolute;
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%;
    // opacity: 1 ;
    background: linear-gradient(rgba(59,177,78,0.9081757703081232) 0%,rgba(247, 249, 247, 0.1) 30%,rgba(247, 249, 247, 0.1) 80%, rgba(201,200,139,9) 100%);
     z-index: 10;
}
.stories_img{
    height: 12rem;
    width: calc(590px / 4);
    object-fit: cover;
 }


.stories_title,
.stories_date {
    position: absolute;
    z-index: 100;
     color: $primary;
     z-index: 100;
    // color:#21a683
}

.stories_title {
    top: 0;
    left: 3px;
   
}

.stories_date {
  bottom: 0;  
  right: 3px;
}