<header class="header">
    <div class="header_left">
        <nav class="header_nav">
            <ul class="nav_list">
                <li class="nav_item">
                    <a href="#">Главное</a></li>
                <li>
                    <li class="nav_item">
                        <a href="#">Обо мне</a></li>
                    <li>
                <li class="nav_item nav_item_subnav">
                    <a href="#" class="nav_item">Статьи </a>
                        <ul class="subnav">
                            <li>
                                <a href="#">Дрессировка</a>
                            </li>
                            <li>
                                <a href="#">Питание</a>
                            </li>
                            <li>
                                <a href="#">Советы</a>
                            </li>
                        </ul>
                    </li>    
                <li class="nav_item">
                    <a href="#">Интернет-магазин </a></li>
                <li class="nav_item">
                    <a href="#">Профиль </a></li>
            </ul>
        </nav>
       
        
    </div>
    <div class="header_right">
        <label for="header_input"></label>
        <input id="header_input" type="text" placeholder="Поиск по блогу">
    </div>
</header>
