<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <!-- <div id="cursor"></div> -->
    <div id="aura"></div>
   
    <div class="container">
        <div class="block_one">
            <aside class="aside">
                {{> aside }}
            </aside>
        </div>
        <div class="block_two">
            <header class="header">
                {{> header }}
            </header>

            <main>
               
                {{> body }}
               
            </main>
            <footer>
                {{> footer }}
            </footer>
        </div>
    </div>
    <script src="./assets/js/app.js"></script>
</body>

</html>